[submodule "recovery-uke-ofox"]
	path = recovery-uke-ofox
	url = https://github.com/MCC45TR/orangefox_device_xiaomi_uke.git
	branch = R12.0
[submodule "senemos-uke-kernel"]
	path = senemos-uke-kernel
	url = https://github.com/MCC45TR/senemos-uke-kernel-mainline.git
[submodule "uke-fedora-builder"]
	path = uke-fedora-builder
	url = https://github.com/MCC45TR/uke-fedora-builder.git
[submodule "uke-project-aloha"]
	path = uke-project-aloha
	url = https://github.com/MCC45TR/uke-project-aloha.git
[submodule "uke-core-meta"]
	path = packages/uke-core-meta
	url = https://github.com/MCC45TR/uke-core-meta.git
[submodule "uke-sensors"]
	path = packages/uke-sensors
	url = https://github.com/MCC45TR/uke-sensors.git
[submodule "uke-boot"]
	path = packages/uke-boot
	url = https://github.com/MCC45TR/uke-boot.git
[submodule "uke-platform-runtime"]
	path = packages/uke-platform-runtime
	url = https://github.com/MCC45TR/uke-platform-runtime.git
[submodule "uke-desktop-metas"]
	path = packages/uke-desktop-metas
	url = https://github.com/MCC45TR/uke-desktop-metas.git
[submodule "uke-desktop-integration"]
	path = packages/uke-desktop-integration
	url = https://github.com/MCC45TR/uke-desktop-integration.git
[submodule "uke-camera"]
	path = packages/uke-camera
	url = https://github.com/MCC45TR/uke-camera.git
[submodule "xiaomi-uke-firmware"]
	path = packages/xiaomi-uke-firmware
	url = https://github.com/MCC45TR/xiaomi-uke-firmware.git
[submodule "plasma-uke-kcm"]
	path = packages/plasma-uke-kcm
	url = https://github.com/MCC45TR/plasma-uke-kcm.git
[submodule "uke-hardware-provenance"]
	path = packages/uke-hardware-provenance
	url = https://github.com/MCC45TR/uke-hardware-provenance.git
[submodule "uke-desktop-packaging"]
	path = packages/uke-desktop-packaging
	url = https://github.com/MCC45TR/uke-desktop-packaging.git
[submodule "uke-orangefox-packaging"]
	path = packages/uke-orangefox-packaging
	url = https://github.com/MCC45TR/uke-orangefox-packaging.git
